#mapy {
  margin: 0 auto;
  overflow: hidden;
}
section{
    border: 2px solid black;
    height:500px;
    text-align: center;
    
}

.user-input-form {
    display: flex;
    flex-direction: column;
    
    gap: 30px;
    border: 2px solid black;
     max-width: 300px;
    
}
.off {
    background-color: red;
    color: white;
}


.on {
    background-color: green;
    color: white;
}



  
  .clicked {
    background-color: orange; 
  }
  
  

  .button-container {
    position: relative;
    width: 200px;
    height: 50px;
}

.toggle-btn {
    position: absolute;
    
}

#Group-button {
    opacity: 0;  
}
